@media (max-width:990px ) {
    .container-1 {
        width: 80%;
        margin: 0 auto;
        /* background-color: red; */
    }
}
@media (max-width:520px ) {
    
    .wireframe {
        display: none;
    }

    .wireframe-mobile {
        display: block;
    }

    .wireframe-img-mobile {
        width: 100%;
    }
    
    .design-img {
        width: 80%;
    }

    .appscreen {
        width: 100%;
        display: none;
    }
    
    .app-screen-mobile {
        display: block;
    }

    .appscreen-img-mobile {
        width: 100%;
    }
}
@media (max-width:415px ) {
    .container-1 {
        width: 90%;
        margin: 0 auto;
        /* background-color: red; */
    }

    .project-header {
        font-size: 1rem;
        margin: 1.2rem 0 1.2rem 0;
    }

    #project ul {
        margin: 1.5rem;
    }

}